img{
  height: 70px;
  width: 70px;
}

b {
  float: right;
}

.left {
  margin-left: -15px;
}

.right {
  margin-right:-15px;
}

.description {
  margin-left: -80px !important;
  margin-top: 10px !important;
  font-weight: bold;
}

.col-sm {
  border: solid;
}

.badge {
  margin-top: 10px !important;
}

.saving {
  margin-top: 10px;
}

.bg-warning {
  background-color: rgba(4, 22, 99, 0.97) !important;
}

.rewards {
  margin-top: 2px;
}

.small {
  width: 20px !important;
  margin-left: 50px;
}
