<li class="list-group-item d-flex justify-content-between align-items-start">
  <div class="container">
    <div class="row">
      <div class="col left">
        <img class = "rounded-circle issuer border" src="./../../../assets/dev/chase.png" alt="">
      </div>
      <div class="col description">
        Bank of America Cash Rewards
      </div>
    </div>
  </div>
  <span (click) = "toggleDetails()" class="badge saving bg-warning rounded-pill">
    <a>+</a>
  </span>
</li>
<div *ngIf = "showDetails" class="container">
  <ul class="list-group-flush rewards">
    <li class="card">
      <div class="container">
        <div class="row">
          <img class = "small" src="./../../../assets/dev/platinum.png" alt="">
        </div>
      </div>
    </li>
    <li class="list-group-item">Grocieries: <b>3%</b></li>
    <li class="list-group-item">Gas: <b>2%</b></li>
    <li class="list-group-item">Other: <b>1%</b></li>
    <li class="list-group-item"><span class="badge add rounded-pill bg-warning">Add Card</span></li>
  </ul>
</div>
