<li class="list-group-item d-flex justify-content-between align-items-start">
  <div class="container">
    <div class="row">
      <div class="col left">
        <img class = "rounded-circle border" src="./../../../assets/dev/chase.png" alt="">
      </div>
      <div class="col description">
        Bank of America Cash Rewards
      </div>
    </div>
    <ul class="list-group list-group-flush rewards">
      <li class="list-group-item">Grocieries: 3%</li>
      <li class="list-group-item">Gas: 2%</li>
      <li class="list-group-item">Other: 1%</li>
    </ul>
  </div>
</li>
