.issuer{
  height: 70px;
  width: 70px;
}


b {
  float: right;
}

.rounded-pill {
  border: solid 1px black;
}

li span {
  cursor: pointer;
}

.card {
  border: none !important;
  margin-top: 10px;
}

.small {
  width: 90% !important;
  margin-left: 15px;
}

.left {
  margin-left: -15px;
}

.right {
  margin-right:-15px;
}

.description {
  margin-left: -90px !important;
  margin-top: 10px !important;
}

.col-sm {
  border: solid;
}

.badge {
  margin-top: 10px !important;
}

.saving {
  margin-top: 10px;
}

.bg-warning {
  background-color: #f4943a !important;
}

.rewards {
  margin-top: 2px;
}

.small {
  width: 20px !important;
  margin-left: 50px;
}

.add {
  margin-left: 60px;
  margin-top: -5px;
}
