img{
  height: 70px;
  width: 70px;
}

li span {
  cursor: pointer;
}

.rounded-pill {
  border: solid 1px black;
}

.left {
  margin-left: -15px;
}

.right {
  margin-right:-15px;
}

.description {
  margin-left: -90px !important;
  margin-top: 10px !important;
}

.badge {
  margin-top: 10px !important;
}

.saving {
  margin-top: 10px;
}

.bg-warning {
  background-color: #f4943a !important;
}

.add {
  margin-left: 60px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.separator {
  width:100%;
  margin-top:1px;
  margin-bottom: 1px;
}

li a {
  cursor: pointer
}

b{
  float: right;
}

ul {
  margin-top:5px;
}
